body {
    /*padding-top: 5rem;*/
    padding: 0;
}

.main-template {
  padding: 1rem 1.5rem;
}

.card {
  margin-top: 1em;
}

.card-title {
  text-align: center;
}

.sliding-link {
  margin-right: 0.3em;
}

.link-top {
  margin-right: 1em;
}

#tableOfContent {
  padding-left: 15px;
  padding-right: 15px;
}