body {
    /*padding-top: 5rem;*/
    padding: 0;
}

.main-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.card {
  margin-top: 1em;
}

.sliding-link {
  margin-right: 0.3em;
}

.link-top {
  margin-right: 1em;
}